
<svg [attr.width]="width" [attr.height]="height" [attr.fill]="color" [attr.stroke]="color"
    viewBox="0 0 0.39299 80.39299" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs1" ></defs>
        <g id="layer1" transform="translate(-68.166961,-66.746238)">
            <g id="g4" transform="translate(4.9056557,6.8121926)">
                <circle style="stroke-width:0.264583" id="path2" cx="102.47047" cy="87.127304" r="13.699262"></circle>
                <path style="stroke-width:0.264583"
                    d="m 76.71978,126.83304 h 54.24631 c 0.13522, -13.88634 -2.63151, -20.55773 -12.14084,-26.864842 -12.14084"
                    id="path3" ></path>
            </g>
            <circle style="fill:none;fill-opacity:1;stroke-width:1.865;stroke-dasharray:none;stroke-opacity:1"
                id="path4" cx="108.36346" cy="106.94273" r="39.263996"></circle>
        </g>
</svg>