:host {
    border-bottom-color: rgb(222, 226, 230) !important;
    border-bottom-style: solid !important;
    border-collapse: collapse !important;
    border-bottom-width: 1px !important;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: .85rem;
    padding-right: .85rem;
};