/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    font-family: Inter, system-ui, -apple-sys; 
};
h1{
    margin:0px; // quitar margins del diseno global
}